a:focus, a:hover {
	color: transparent;
}
a {
	text-decoration: none;
	color: transparent;
	text-shadow: 2px 2px 4px transparent;
}
body {
	margin: 0px;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	background-color: black;
}
p {
	font-family: 'Jura', sans-serif;
	font-size: 70px;
	color: white;
	text-align: left;
	letter-spacing: -6px;
	font-weight: 100;
}


/* Video's */

video#backgroundvid { 
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: -1000;
	background-size: cover;
	background: url(https://my.mixtape.moe/lavfyw.png) no-repeat;
}